/* Add styling similar to markdown */

.main {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.title {
  text-align: left-align;
  margin: auto;
  max-width: 100%;
}

.title h1 {
  font-size: 4em;
  margin-bottom: 1rem;
}

.title p {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 4em;
  }

  .title p {
    font-size: 1.2em;
  }
}
