/* Add styling similar to markdown */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}

.title {
  width:fit-content;
  text-align: left;
  float: left;
}

.title h1 {
  font-size: 4em;
}

.title p {
  font-size: 1.5em;
}

.content {
  width: 100%;
  height: 100%;
  text-align: left;
}